body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    color: #F9FAFB;
    font-size: 24px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}